- provide :title, 'About Push Pickup'
%h1 About Push Pickup

.row
  .span8.offset2
    .lead 
      Push Pickup helps you push for a game of pickup ultimate frisbee at a time you want, at a field near you. 

    %h3 Already part of a regular pickup game with an email list?
    %p 
      Push Pickup helps reduce unnecessary group messages such as "Who's in today?", "Can we start a bit earlier?",
      "I'm in.", "I'm in.", "I'm in but I'll be late today.", "We need more people. Anyone?", and "Is the game on?".

    %h3 Having trouble scheduling occasional games with friends?
    %p 
      Push Pickup helps you all pool together your availabilities and commit to games. You may also meet new friends who
      happen to be available to play when you are. :)

    %h3 Can't make a regular pickup game?
    %p 
      <a href="http://pickupultimate.com" target="_blank">Pickupultimate.com</a> 
      is great for finding established, regularly scheduled pickup games.
      But if you can't play in an existing regular game, Push Pickup helps you connect with people who live or work near a field 
      and who want to play pickup ultimate frisbee, even if everyone's individual availabilities vary from week to week.
      Please be patient; because this site is just getting started, there are not many users, 
      and it may take you a while to get your first "Game on" email. Tell your friends! :)

    %h3 Questions? Suggestions? Compliments? ;)
    %p 
      Let me know what you think at 
      %a{href: "mailto:donny@pushpickup.com"} donny@pushpickup.com
      \.
    
    %br Thanks,
    Donny
