- provide :title, 'Help'
%h1 Help
.row
  .span8.offset2
    .lead 
      Push Pickup is just getting started, so it's hard to predict what a new user will have trouble doing.
      If you need help, email me at
      = succeed '.' do
        %a{href: "mailto:donny@pushpickup.com"} donny@pushpickup.com
    .lead
      Together, we can build a great "Help" page with answers to frequently asked questions, or, better yet, 
      improve the site to keep this page small. :) Thanks for your patience.
    .lead
      Donny
