%p
  = succeed ',' do
    = @player.name

%p Thank you for signing up.

%p To confirm your account using this email address, click the link below:

%p= link_to "Signup Confirmation", signup_confirmation_url(@player.remember_token)

%p If you did not request an account using this email address, just ignore this email.
