- if @player.errors.any?
  #error_explanation
    .alert.alert-error
      The form contains
      = pluralize(@player.errors.count, 'error')
      \.
    %ul
      - @player.errors.full_messages.each do |msg|
        %li
          *
          = msg

