%li{class: 'game_feed_item', id: 'game_' + feed_item.id.to_s }
  .feed_item_icon.progress
    .bar.bar-success{style: "width: 100%;"}
  %span.fields
    %strong GAME ON 
    at #{feed_item.field.name}
  %span.start_time= start_time_to_s(feed_item.start_time)
  %span.duration for #{duration_to_s(feed_item.start_time, feed_item.duration)}
