%li{class: 'game_feed_item', id: 'game_' + feed_item.id.to_s }
  .feed_item_icon.progress
    .bar.bar-success{style: "width: 100%;"}
  %span.fields
    %strong GAME ON 
    at
    = link_to feed_item.field.name, feed_item.field
  %span.start_time= feed_item.start_time.to_s(:weekday_and_ordinal)
  %span.duration
    for
    at least 
    = distance_of_time_in_words(feed_item.start_time, feed_item.start_time + feed_item.duration.minutes)
