= provide :title, @player.name
.row
  %aside.span4
    %section
      %h1
        -#= gravatar_for @player
        = @player.name
  .span8
    - if @player.availabilities.any?
      %h3 Availabilities (#{@player.availabilities.count})
      %ol.availabilities
        = render @availabilities
