%script{type: "text/javascript"}
  /
    google_ad_client = "ca-pub-3621123222476870";
    /* pushpickup-main */
    google_ad_slot = "8892958342";
    google_ad_width = 728;
    google_ad_height = 90;
%script{type: "text/javascript", src: "http://pagead2.googlesyndication.com/pagead/show_ads.js"}

%footer.footer
  %small
    You can do it!
  %nav
    %ul
      %li= link_to 'About', about_path
  = javascript_include_tag "application"
  = yield :scripts
